@font-face {
  font-family: 'Gotham Thin';
  src: url("font/Gotham-Thin.otf") format("opentype"); }
.text-amber {
  color: #FFC107 !important; }

.text-discs {
  color: #fec324 !important; }

firebase firebase .text-tarheel {
  color: #50b1ff !important; }

.text-mtblue {
  color: #2196F3 !important; }

.text-rebel {
  color: #ff6450 !important; }

.text-cream {
  color: #fffbf3 !important; }

.text-angular {
  color: #F44336 !important; }

.slides section > h1 {
  margin-bottom: 100px; }
.slides section > h2 {
  margin-bottom: 80px; }
.slides section > h3 {
  margin-bottom: 80px; }
.slides section > h4 {
  margin-bottom: 80px; }
.slides section p:nth-child(even) {
  color: #FFC107; }
.slides section ol li:nth-child(odd) {
  color: #FFC107; }
.slides section ol li,
.slides section p {
  font-size: 38px; }
.slides blockquote {
  font-style: normal; }
.slides pre {
  box-shadow: none !important; }
.slides pre code {
  background: #212121;
  font-size: 20px;
  line-height: 30px;
  width: 100%; }
.slides .era-point {
  margin-bottom: 40px; }
.slides .api-point {
  font-family: Menlo, Courier;
  color: #fffbf3 !important;
  text-align: left; }
.slides #json-graph {
  text-align: left; }
  .slides #json-graph h4 {
    text-align: left; }
  .slides #json-graph h4:nth-child(2) {
    margin-left: 140px; }
  .slides #json-graph h4:nth-child(3) {
    margin-left: 540px; }
  .slides #json-graph h4:nth-child(4) {
    margin-left: 800px; }

.framework-logo {
  height: 24% !important;
  width: 24% !important; }

.text-large {
  font-size: 104px !important;
  line-height: 208px !important; }

.text-medium {
  font-size: 62px !important;
  line-height: 124px !important; }

.text-small {
  font-size: 42px !important; }

.text-white {
  color: #ffffff !important; }

#era {
  padding: 15px;
  text-transform: uppercase;
  font-size: 16px; }

img.no-style {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #424242;
  background-color: #424242; }

.reveal {
  font-family: "Gotham Thin", Arial;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #fffbf3; }

::selection {
  color: #fff;
  background: #50b1ff;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #fffbf3;
  font-family: "Gotham Thin", Arial;
  line-height: 1em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #2196F3;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #50b1ff;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #0a6ebd; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fffbf3;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2196F3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #2196F3; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #2196F3; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #2196F3; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #2196F3; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #50b1ff; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #50b1ff; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #50b1ff; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #50b1ff; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #2196F3;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #ffffff;
  font-weight: bold; }

/*# sourceMappingURL=techbyte.css.map */
